### spark dataframe exercise

In [1]:
import os
import pyspark

# download a mysql connector file
mysqlurl = 'http://www.java2s.com/Code/JarDownload/mysql/mysql.jar.zip'
connector_path = os.path.join('/home/jovyan', 'work')
file_path = os.path.join(connector_path, 'mysql.jar.zip')

import urllib.request

conn_f = urllib.request.urlretrieve (mysqlurl, file_path)

import zipfile
with zipfile.ZipFile(file_path, "r") as z:
    z.extractall(connector_path)

# connector_file = os.path.join(connector_path, 'mysql.jar', 'mysql.jar')

In [2]:
# https://medium.com/@thucnc/pyspark-in-jupyter-notebook-working-with-dataframe-jdbc-data-sources-6f3d39300bf6
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.postgresql:postgresql:42.1.1 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars file:///D:/sqlite-jdbc-3.23.1.jar pyspark-shell'

os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /home/jovyan/work/mysql.jar pyspark-shell'

In [3]:
from pyspark.sql import SQLContext

sc = pyspark.SparkContext('local[*]')
sqlContext = SQLContext(sc)

In [4]:
df_country = sqlContext.read.format("jdbc").options( url="jdbc:mysql://yourIPaddress:3306/world", \
    driver = "com.mysql.jdbc.Driver",dbtable = "country",user="root", \
    password="bigdataftw").load().persist()

#### dataframe tutorial
source: https://www.edureka.co/blog/pyspark-dataframe-tutorial/

In [5]:
df_country.show()

+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+--------+--------+--------------------+--------------------+--------------------+-------+-----+
|Code|                Name|    Continent|              Region|SurfaceArea|IndepYear|Population|LifeExpectancy|     GNP|  GNPOld|           LocalName|      GovernmentForm|         HeadOfState|Capital|Code2|
+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+--------+--------+--------------------+--------------------+--------------------+-------+-----+
| ABW|               Aruba|North America|           Caribbean|      193.0|     null|    103000|          78.4|   828.0|   793.0|               Aruba|Nonmetropolitan T...|             Beatrix|    129|   AW|
| AFG|         Afghanistan|         Asia|Southern and Cent...|   652090.0|     1919|  22720000|          45.9|  5976.0|    null|Afganistan/Afqane...|     Islamic Emirate|       Mohammad Omar|      1|   AF|
| AGO|              Angola|       Africa|      Central Africa|  1246700.0|     1975|  12878000|          38.3|  6648.0|  7984.0|              Angola|            Republic|José Eduardo dos ...|     56|   AO|
| AIA|            Anguilla|North America|           Caribbean|       96.0|     null|      8000|          76.1|    63.2|    null|            Anguilla|Dependent Territo...|        Elisabeth II|     62|   AI|
| ALB|             Albania|       Europe|     Southern Europe|    28748.0|     1912|   3401200|          71.6|  3205.0|  2500.0|           Shqipëria|            Republic|      Rexhep Mejdani|     34|   AL|
| AND|             Andorra|       Europe|     Southern Europe|      468.0|     1278|     78000|          83.5|  1630.0|    null|             Andorra|Parliamentary Cop...|                    |     55|   AD|
| ANT|Netherlands Antilles|North America|           Caribbean|      800.0|     null|    217000|          74.7|  1941.0|    null|Nederlandse Antillen|Nonmetropolitan T...|             Beatrix|     33|   AN|
| ARE|United Arab Emirates|         Asia|         Middle East|    83600.0|     1971|   2441000|          74.1| 37966.0| 36846.0|Al-Imarat al-´Ara...|  Emirate Federation|Zayid bin Sultan ...|     65|   AE|
| ARG|           Argentina|South America|       South America|  2780400.0|     1816|  37032000|          75.1|340238.0|323310.0|           Argentina|    Federal Republic|  Fernando de la Rúa|     69|   AR|
| ARM|             Armenia|         Asia|         Middle East|    29800.0|     1991|   3520000|          66.4|  1813.0|  1627.0|            Hajastan|            Republic|    Robert Kotarjan|    126|   AM|
| ASM|      American Samoa|      Oceania|           Polynesia|      199.0|     null|     68000|          75.1|   334.0|    null|       Amerika Samoa|        US Territory|      George W. Bush|     54|   AS|
| ATA|          Antarctica|   Antarctica|          Antarctica|    1.312E7|     null|         0|          null|     0.0|    null|                   |    Co-administrated|                    |   null|   AQ|
| ATF|French Southern t...|   Antarctica|          Antarctica|     7780.0|     null|         0|          null|     0.0|    null|Terres australes ...|Nonmetropolitan T...|      Jacques Chirac|   null|   TF|
| ATG| Antigua and Barbuda|North America|           Caribbean|      442.0|     1981|     68000|          70.5|   612.0|   584.0| Antigua and Barbuda|Constitutional Mo...|        Elisabeth II|     63|   AG|
| AUS|           Australia|      Oceania|Australia and New...|  7741220.0|     1901|  18886000|          79.8|351182.0|392911.0|           Australia|Constitutional Mo...|        Elisabeth II|    135|   AU|
| AUT|             Austria|       Europe|      Western Europe|    83859.0|     1918|   8091800|          77.7|211860.0|206025.0|          Österreich|    Federal Republic|      Thomas Klestil|   1523|   AT|
| AZE|          Azerbaijan|         Asia|         Middle East|    86600.0|     1991|   7734000|          62.9|  4127.0|  4100.0|          Azärbaycan|    Federal Republic|       Heydär Äliyev|    144|   AZ|
| BDI|             Burundi|       Africa|      Eastern Africa|    27834.0|     1962|   6695000|          46.2|   903.0|   982.0|    Burundi/Uburundi|            Republic|       Pierre Buyoya|    552|   BI|
| BEL|             Belgium|       Europe|      Western Europe|    30518.0|     1830|  10239000|          77.8|249704.0|243948.0|     België/Belgique|Constitutional Mo...|           Albert II|    179|   BE|
| BEN|               Benin|       Africa|      Western Africa|   112622.0|     1960|   6097000|          50.2|  2357.0|  2141.0|               Bénin|            Republic|     Mathieu Kérékou|    187|   BJ|
+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+--------+--------+--------------------+--------------------+--------------------+-------+-----+
only showing top 20 rows

In [6]:
df_country.printSchema()

root
 |-- Code: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- SurfaceArea: double (nullable = true)
 |-- IndepYear: integer (nullable = true)
 |-- Population: integer (nullable = true)
 |-- LifeExpectancy: double (nullable = true)
 |-- GNP: double (nullable = true)
 |-- GNPOld: double (nullable = true)
 |-- LocalName: string (nullable = true)
 |-- GovernmentForm: string (nullable = true)
 |-- HeadOfState: string (nullable = true)
 |-- Capital: integer (nullable = true)
 |-- Code2: string (nullable = true)

In [7]:
df_country.columns

['Code',
 'Name',
 'Continent',
 'Region',
 'SurfaceArea',
 'IndepYear',
 'Population',
 'LifeExpectancy',
 'GNP',
 'GNPOld',
 'LocalName',
 'GovernmentForm',
 'HeadOfState',
 'Capital',
 'Code2']

In [8]:
df_country.count()

239

In [9]:
len(df_country.columns)

15

In [10]:
df_country.describe('Population').show()

+-------+--------------------+
|summary|          Population|
+-------+--------------------+
|  count|                 239|
|   mean| 2.543409811715481E7|
| stddev|1.0933981722387172E8|
|    min|                   0|
|    max|          1277558000|
+-------+--------------------+

In [11]:
df_country.select('Name','Population').show()

# not truncate
# df_country.select('Name','Population').show(False)

+--------------------+----------+
|                Name|Population|
+--------------------+----------+
|               Aruba|    103000|
|         Afghanistan|  22720000|
|              Angola|  12878000|
|            Anguilla|      8000|
|             Albania|   3401200|
|             Andorra|     78000|
|Netherlands Antilles|    217000|
|United Arab Emirates|   2441000|
|           Argentina|  37032000|
|             Armenia|   3520000|
|      American Samoa|     68000|
|          Antarctica|         0|
|French Southern t...|         0|
| Antigua and Barbuda|     68000|
|           Australia|  18886000|
|             Austria|   8091800|
|          Azerbaijan|   7734000|
|             Burundi|   6695000|
|             Belgium|  10239000|
|               Benin|   6097000|
+--------------------+----------+
only showing top 20 rows

In [12]:
df_countrylang = sqlContext.read.format("jdbc").options( url="jdbc:mysql://yourIPaddress:3306/world", \
    driver = "com.mysql.jdbc.Driver",dbtable = "countrylanguage",user="root", \
    password="bigdataftw").load().persist()

In [13]:
df_countrylang.printSchema()

root
 |-- CountryCode: string (nullable = true)
 |-- Language: string (nullable = true)
 |-- IsOfficial: string (nullable = true)
 |-- Percentage: double (nullable = true)

In [14]:
df_countrylang.filter(df_countrylang.Language=='English').show()

+-----------+--------+----------+----------+
|CountryCode|Language|IsOfficial|Percentage|
+-----------+--------+----------+----------+
|        ABW| English|         F|       9.5|
|        AIA| English|         T|       0.0|
|        ANT| English|         F|       7.8|
|        ASM| English|         T|       3.1|
|        ATG| English|         T|       0.0|
|        AUS| English|         T|      81.2|
|        BHR| English|         F|       0.0|
|        BLZ| English|         T|      50.8|
|        BMU| English|         T|     100.0|
|        BRB| English|         T|       0.0|
|        BRN| English|         F|       3.1|
|        CAN| English|         T|      60.4|
|        CCK| English|         T|       0.0|
|        COK| English|         F|       0.0|
|        CXR| English|         T|       0.0|
|        CYM| English|         T|       0.0|
|        DNK| English|         F|       0.3|
|        FLK| English|         T|       0.0|
|        GBR| English|         T|      97.3|
|        GIB| English|         T|      88.9|
+-----------+--------+----------+----------+
only showing top 20 rows

In [15]:
df_countrylang.filter(df_countrylang.Language=='English').count()

60

In [19]:
df_countrylang.filter((df_countrylang.Language=='English') & (df_countrylang.IsOfficial=='T')).show()

+-----------+--------+----------+----------+
|CountryCode|Language|IsOfficial|Percentage|
+-----------+--------+----------+----------+
|        AIA| English|         T|       0.0|
|        ASM| English|         T|       3.1|
|        ATG| English|         T|       0.0|
|        AUS| English|         T|      81.2|
|        BLZ| English|         T|      50.8|
|        BMU| English|         T|     100.0|
|        BRB| English|         T|       0.0|
|        CAN| English|         T|      60.4|
|        CCK| English|         T|       0.0|
|        CXR| English|         T|       0.0|
|        CYM| English|         T|       0.0|
|        FLK| English|         T|       0.0|
|        GBR| English|         T|      97.3|
|        GIB| English|         T|      88.9|
|        GUM| English|         T|      37.5|
|        HKG| English|         T|       2.2|
|        IRL| English|         T|      98.4|
|        KNA| English|         T|       0.0|
|        LCA| English|         T|      20.0|
|        LSO| English|         T|       0.0|
+-----------+--------+----------+----------+
only showing top 20 rows

In [20]:
df_countrylang.filter((df_countrylang.Language=='English') & (df_countrylang.IsOfficial=='T')).count()

44

In [21]:
df_country.orderBy(df_country.Population).show()

+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+-----+------+--------------------+--------------------+-------------------+-------+-----+
|Code|                Name|    Continent|              Region|SurfaceArea|IndepYear|Population|LifeExpectancy|  GNP|GNPOld|           LocalName|      GovernmentForm|        HeadOfState|Capital|Code2|
+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+-----+------+--------------------+--------------------+-------------------+-------+-----+
| SGS|South Georgia and...|   Antarctica|          Antarctica|     3903.0|     null|         0|          null|  0.0|  null|South Georgia and...|Dependent Territo...|       Elisabeth II|   null|   GS|
| ATF|French Southern t...|   Antarctica|          Antarctica|     7780.0|     null|         0|          null|  0.0|  null|Terres australes ...|Nonmetropolitan T...|     Jacques Chirac|   null|   TF|
| UMI|United States Min...|      Oceania|Micronesia/Caribbean|       16.0|     null|         0|          null|  0.0|  null|United States Min...|Dependent Territo...|     George W. Bush|   null|   UM|
| BVT|       Bouvet Island|   Antarctica|          Antarctica|       59.0|     null|         0|          null|  0.0|  null|           Bouvetøya|Dependent Territo...|           Harald V|   null|   BV|
| HMD|Heard Island and ...|   Antarctica|          Antarctica|      359.0|     null|         0|          null|  0.0|  null|Heard and McDonal...|Territory of Aust...|       Elisabeth II|   null|   HM|
| ATA|          Antarctica|   Antarctica|          Antarctica|    1.312E7|     null|         0|          null|  0.0|  null|                   |    Co-administrated|                   |   null|   AQ|
| IOT|British Indian Oc...|       Africa|      Eastern Africa|       78.0|     null|         0|          null|  0.0|  null|British Indian Oc...|Dependent Territo...|       Elisabeth II|   null|   IO|
| PCN|            Pitcairn|      Oceania|           Polynesia|       49.0|     null|        50|          null|  0.0|  null|            Pitcairn|Dependent Territo...|       Elisabeth II|   2912|   PN|
| CCK|Cocos (Keeling) I...|      Oceania|Australia and New...|       14.0|     null|       600|          null|  0.0|  null|Cocos (Keeling) I...|Territory of Aust...|       Elisabeth II|   2317|   CC|
| VAT|Holy See (Vatican...|       Europe|     Southern Europe|        0.4|     1929|      1000|          null|  9.0|  null|Santa Sede/Città ...|Independent Churc...|Johannes Paavali II|   3538|   VA|
| FLK|    Falkland Islands|South America|       South America|    12173.0|     null|      2000|          null|  0.0|  null|    Falkland Islands|Dependent Territo...|       Elisabeth II|    763|   FK|
| NIU|                Niue|      Oceania|           Polynesia|      260.0|     null|      2000|          null|  0.0|  null|                Niue|Nonmetropolitan T...|       Elisabeth II|   2805|   NU|
| NFK|      Norfolk Island|      Oceania|Australia and New...|       36.0|     null|      2000|          null|  0.0|  null|      Norfolk Island|Territory of Aust...|       Elisabeth II|   2806|   NF|
| TKL|             Tokelau|      Oceania|           Polynesia|       12.0|     null|      2000|          null|  0.0|  null|             Tokelau|Nonmetropolitan T...|       Elisabeth II|   3333|   TK|
| CXR|    Christmas Island|      Oceania|Australia and New...|      135.0|     null|      2500|          null|  0.0|  null|    Christmas Island|Territory of Aust...|       Elisabeth II|   1791|   CX|
| SJM|Svalbard and Jan ...|       Europe|    Nordic Countries|    62422.0|     null|      3200|          null|  0.0|  null|Svalbard og Jan M...|Dependent Territo...|           Harald V|    938|   SJ|
| SHN|        Saint Helena|       Africa|      Western Africa|      314.0|     null|      6000|          76.8|  0.0|  null|        Saint Helena|Dependent Territo...|       Elisabeth II|   3063|   SH|
| SPM|Saint Pierre and ...|North America|       North America|      242.0|     null|      7000|          77.6|  0.0|  null|Saint-Pierre-et-M...|Territorial Colle...|     Jacques Chirac|   3067|   PM|
| AIA|            Anguilla|North America|           Caribbean|       96.0|     null|      8000|          76.1| 63.2|  null|            Anguilla|Dependent Territo...|       Elisabeth II|     62|   AI|
| MSR|          Montserrat|North America|           Caribbean|      102.0|     null|     11000|          78.0|109.0|  null|          Montserrat|Dependent Territo...|       Elisabeth II|   2697|   MS|
+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+-----+------+--------------------+--------------------+-------------------+-------+-----+
only showing top 20 rows

In [24]:
df_country.orderBy(df_country.Population, ascending=False).show()

+----+------------------+-------------+--------------------+-----------+---------+----------+--------------+---------+---------+--------------+--------------------+--------------------+-------+-----+
|Code|              Name|    Continent|              Region|SurfaceArea|IndepYear|Population|LifeExpectancy|      GNP|   GNPOld|     LocalName|      GovernmentForm|         HeadOfState|Capital|Code2|
+----+------------------+-------------+--------------------+-----------+---------+----------+--------------+---------+---------+--------------+--------------------+--------------------+-------+-----+
| CHN|             China|         Asia|        Eastern Asia|  9572900.0|    -1523|1277558000|          71.4| 982268.0| 917719.0|      Zhongquo|    People'sRepublic|         Jiang Zemin|   1891|   CN|
| IND|             India|         Asia|Southern and Cent...|  3287263.0|     1947|1013662000|          62.5| 447114.0| 430572.0|  Bharat/India|    Federal Republic|Kocheril Raman Na...|   1109|   IN|
| USA|     United States|North America|       North America|  9363520.0|     1776| 278357000|          77.1|8510700.0|8110900.0| United States|    Federal Republic|      George W. Bush|   3813|   US|
| IDN|         Indonesia|         Asia|      Southeast Asia|  1904569.0|     1945| 212107000|          68.0|  84982.0| 215002.0|     Indonesia|            Republic|   Abdurrahman Wahid|    939|   ID|
| BRA|            Brazil|South America|       South America|  8547403.0|     1822| 170115000|          62.9| 776739.0| 804108.0|        Brasil|    Federal Republic|Fernando Henrique...|    211|   BR|
| PAK|          Pakistan|         Asia|Southern and Cent...|   796095.0|     1947| 156483000|          61.1|  61289.0|  58549.0|      Pakistan|            Republic|Mohammad Rafiq Tarar|   2831|   PK|
| RUS|Russian Federation|       Europe|      Eastern Europe|  1.70754E7|     1991| 146934000|          67.2| 276608.0| 442989.0|       Rossija|    Federal Republic|      Vladimir Putin|   3580|   RU|
| BGD|        Bangladesh|         Asia|Southern and Cent...|   143998.0|     1971| 129155000|          60.2|  32852.0|  31966.0|    Bangladesh|            Republic|   Shahabuddin Ahmad|    150|   BD|
| JPN|             Japan|         Asia|        Eastern Asia|   377829.0|     -660| 126714000|          80.7|3787042.0|4192638.0|  Nihon/Nippon|Constitutional Mo...|             Akihito|   1532|   JP|
| NGA|           Nigeria|       Africa|      Western Africa|   923768.0|     1960| 111506000|          51.6|  65707.0|  58623.0|       Nigeria|    Federal Republic|   Olusegun Obasanjo|   2754|   NG|
| MEX|            Mexico|North America|     Central America|  1958201.0|     1810|  98881000|          71.5| 414972.0| 401461.0|        México|    Federal Republic| Vicente Fox Quesada|   2515|   MX|
| DEU|           Germany|       Europe|      Western Europe|   357022.0|     1955|  82164700|          77.4|2133367.0|2102826.0|   Deutschland|    Federal Republic|        Johannes Rau|   3068|   DE|
| VNM|           Vietnam|         Asia|      Southeast Asia|   331689.0|     1945|  79832000|          69.3|  21929.0|  22834.0|      Viêt Nam|Socialistic Republic|      Trân Duc Luong|   3770|   VN|
| PHL|       Philippines|         Asia|      Southeast Asia|   300000.0|     1946|  75967000|          67.5|  65107.0|  82239.0|     Pilipinas|            Republic|Gloria Macapagal-...|    766|   PH|
| EGY|             Egypt|       Africa|     Northern Africa|  1001449.0|     1922|  68470000|          63.3|  82710.0|  75617.0|          Misr|            Republic|       Hosni Mubarak|    608|   EG|
| IRN|              Iran|         Asia|Southern and Cent...|  1648195.0|     1906|  67702000|          69.7| 195746.0| 160151.0|          Iran|    Islamic Republic|Ali Mohammad Khat...|   1380|   IR|
| TUR|            Turkey|         Asia|         Middle East|   774815.0|     1923|  66591000|          71.0| 210721.0| 189122.0|       Türkiye|            Republic|  Ahmet Necdet Sezer|   3358|   TR|
| ETH|          Ethiopia|       Africa|      Eastern Africa|  1104300.0|    -1000|  62565000|          45.2|   6353.0|   6180.0|   YeItyop´iya|            Republic|      Negasso Gidada|    756|   ET|
| THA|          Thailand|         Asia|      Southeast Asia|   513115.0|     1350|  61399000|          68.6| 116416.0| 153907.0|  Prathet Thai|Constitutional Mo...|  Bhumibol Adulyadej|   3320|   TH|
| GBR|    United Kingdom|       Europe|     British Islands|   242900.0|     1066|  59623400|          77.7|1378330.0|1296830.0|United Kingdom|Constitutional Mo...|        Elisabeth II|    456|   GB|
+----+------------------+-------------+--------------------+-----------+---------+----------+--------------+---------+---------+--------------+--------------------+--------------------+-------+-----+
only showing top 20 rows

In [25]:
df_country.orderBy(df_country.Population, ascending=True).show()

+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+-----+------+--------------------+--------------------+-------------------+-------+-----+
|Code|                Name|    Continent|              Region|SurfaceArea|IndepYear|Population|LifeExpectancy|  GNP|GNPOld|           LocalName|      GovernmentForm|        HeadOfState|Capital|Code2|
+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+-----+------+--------------------+--------------------+-------------------+-------+-----+
| SGS|South Georgia and...|   Antarctica|          Antarctica|     3903.0|     null|         0|          null|  0.0|  null|South Georgia and...|Dependent Territo...|       Elisabeth II|   null|   GS|
| ATF|French Southern t...|   Antarctica|          Antarctica|     7780.0|     null|         0|          null|  0.0|  null|Terres australes ...|Nonmetropolitan T...|     Jacques Chirac|   null|   TF|
| UMI|United States Min...|      Oceania|Micronesia/Caribbean|       16.0|     null|         0|          null|  0.0|  null|United States Min...|Dependent Territo...|     George W. Bush|   null|   UM|
| BVT|       Bouvet Island|   Antarctica|          Antarctica|       59.0|     null|         0|          null|  0.0|  null|           Bouvetøya|Dependent Territo...|           Harald V|   null|   BV|
| HMD|Heard Island and ...|   Antarctica|          Antarctica|      359.0|     null|         0|          null|  0.0|  null|Heard and McDonal...|Territory of Aust...|       Elisabeth II|   null|   HM|
| ATA|          Antarctica|   Antarctica|          Antarctica|    1.312E7|     null|         0|          null|  0.0|  null|                   |    Co-administrated|                   |   null|   AQ|
| IOT|British Indian Oc...|       Africa|      Eastern Africa|       78.0|     null|         0|          null|  0.0|  null|British Indian Oc...|Dependent Territo...|       Elisabeth II|   null|   IO|
| PCN|            Pitcairn|      Oceania|           Polynesia|       49.0|     null|        50|          null|  0.0|  null|            Pitcairn|Dependent Territo...|       Elisabeth II|   2912|   PN|
| CCK|Cocos (Keeling) I...|      Oceania|Australia and New...|       14.0|     null|       600|          null|  0.0|  null|Cocos (Keeling) I...|Territory of Aust...|       Elisabeth II|   2317|   CC|
| VAT|Holy See (Vatican...|       Europe|     Southern Europe|        0.4|     1929|      1000|          null|  9.0|  null|Santa Sede/Città ...|Independent Churc...|Johannes Paavali II|   3538|   VA|
| FLK|    Falkland Islands|South America|       South America|    12173.0|     null|      2000|          null|  0.0|  null|    Falkland Islands|Dependent Territo...|       Elisabeth II|    763|   FK|
| NIU|                Niue|      Oceania|           Polynesia|      260.0|     null|      2000|          null|  0.0|  null|                Niue|Nonmetropolitan T...|       Elisabeth II|   2805|   NU|
| NFK|      Norfolk Island|      Oceania|Australia and New...|       36.0|     null|      2000|          null|  0.0|  null|      Norfolk Island|Territory of Aust...|       Elisabeth II|   2806|   NF|
| TKL|             Tokelau|      Oceania|           Polynesia|       12.0|     null|      2000|          null|  0.0|  null|             Tokelau|Nonmetropolitan T...|       Elisabeth II|   3333|   TK|
| CXR|    Christmas Island|      Oceania|Australia and New...|      135.0|     null|      2500|          null|  0.0|  null|    Christmas Island|Territory of Aust...|       Elisabeth II|   1791|   CX|
| SJM|Svalbard and Jan ...|       Europe|    Nordic Countries|    62422.0|     null|      3200|          null|  0.0|  null|Svalbard og Jan M...|Dependent Territo...|           Harald V|    938|   SJ|
| SHN|        Saint Helena|       Africa|      Western Africa|      314.0|     null|      6000|          76.8|  0.0|  null|        Saint Helena|Dependent Territo...|       Elisabeth II|   3063|   SH|
| SPM|Saint Pierre and ...|North America|       North America|      242.0|     null|      7000|          77.6|  0.0|  null|Saint-Pierre-et-M...|Territorial Colle...|     Jacques Chirac|   3067|   PM|
| AIA|            Anguilla|North America|           Caribbean|       96.0|     null|      8000|          76.1| 63.2|  null|            Anguilla|Dependent Territo...|       Elisabeth II|     62|   AI|
| MSR|          Montserrat|North America|           Caribbean|      102.0|     null|     11000|          78.0|109.0|  null|          Montserrat|Dependent Territo...|       Elisabeth II|   2697|   MS|
+----+--------------------+-------------+--------------------+-----------+---------+----------+--------------+-----+------+--------------------+--------------------+-------------------+-------+-----+
only showing top 20 rows

In [26]:
df_city = sqlContext.read.format("jdbc").options( url="jdbc:mysql://yourIPaddress:3306/world", \
    driver = "com.mysql.jdbc.Driver",dbtable = "city",user="root", \
    password="bigdataftw").load().persist()

In [27]:
df_city.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CountryCode: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Population: integer (nullable = true)

In [28]:
df_city.select(df_city.Name,df_city.Population).orderBy(df_city.Population.desc()).show(10,False)

+----------------+----------+
|Name            |Population|
+----------------+----------+
|Mumbai (Bombay) |10500000  |
|Seoul           |9981619   |
|São Paulo       |9968485   |
|Shanghai        |9696300   |
|Jakarta         |9604900   |
|Karachi         |9269265   |
|Istanbul        |8787958   |
|Ciudad de México|8591309   |
|Moscow          |8389200   |
|New York        |8008278   |
+----------------+----------+
only showing top 10 rows

In [29]:
df_country.groupBy("Continent").count().show(10)

+-------------+-----+
|    Continent|count|
+-------------+-----+
|       Europe|   46|
|       Africa|   58|
|North America|   37|
|   Antarctica|    5|
|South America|   14|
|      Oceania|   28|
|         Asia|   51|
+-------------+-----+

In [30]:
df_country.groupBy("Continent").count().orderBy('count', ascending=False).show(10)

+-------------+-----+
|    Continent|count|
+-------------+-----+
|       Africa|   58|
|         Asia|   51|
|       Europe|   46|
|North America|   37|
|      Oceania|   28|
|South America|   14|
|   Antarctica|    5|
+-------------+-----+

In [31]:
df_country.select(df_country.LifeExpectancy,df_country.Region,df_country.GovernmentForm).\
    orderBy(df_country.LifeExpectancy.desc()).distinct().show(50,False)

+--------------+-------------------------+--------------------------------------------+
|LifeExpectancy|Region                   |GovernmentForm                              |
+--------------+-------------------------+--------------------------------------------+
|83.5          |Southern Europe          |Parliamentary Coprincipality                |
|81.6          |Eastern Asia             |Special Administrative Region of China      |
|81.1          |Southern Europe          |Republic                                    |
|80.7          |Eastern Asia             |Constitutional Monarchy                     |
|80.1          |Southeast Asia           |Republic                                    |
|79.8          |Australia and New Zealand|Constitutional Monarchy, Federation         |
|79.6          |Western Europe           |Federation                                  |
|79.6          |Nordic Countries         |Constitutional Monarchy                     |
|79.5          |Eastern Asia             |Special Administrative Region of China      |
|79.4          |North America            |Constitutional Monarchy, Federation         |
|79.4          |Nordic Countries         |Republic                                    |
|79.0          |Southern Europe          |Dependent Territory of the UK               |
|79.0          |Southern Europe          |Republic                                    |
|78.9          |Caribbean                |Dependent Territory of the UK               |
|78.8          |Southern Europe          |Constitutional Monarchy                     |
|78.8          |Western Europe           |Republic                                    |
|78.8          |Western Europe           |Constitutional Monarchy                     |
|78.7          |Nordic Countries         |Constitutional Monarchy                     |
|78.6          |Middle East              |Republic                                    |
|78.4          |Caribbean                |Nonmetropolitan Territory of The Netherlands|
|78.4          |Nordic Countries         |Part of Denmark                             |
|78.4          |Southern Europe          |Republic                                    |
|78.3          |Caribbean                |Overseas Department of France               |
|78.3          |Western Europe           |Constitutional Monarchy                     |
|78.1          |Caribbean                |US Territory                                |
|78.0          |Caribbean                |Dependent Territory of the UK               |
|77.9          |Southern Europe          |Republic                                    |
|77.8          |Western Europe           |Constitutional Monarchy, Federation         |
|77.8          |Micronesia               |US Territory                                |
|77.8          |Australia and New Zealand|Constitutional Monarchy                     |
|77.7          |Western Europe           |Federal Republic                            |
|77.7          |British Islands          |Constitutional Monarchy                     |
|77.6          |North America            |Territorial Collectivity of France          |
|77.4          |Western Europe           |Federal Republic                            |
|77.4          |Nordic Countries         |Republic                                    |
|77.4          |Middle East              |Constitutional Monarchy                     |
|77.1          |Western Europe           |Constitutional Monarchy                     |
|77.1          |North America            |Federal Republic                            |
|77.0          |Caribbean                |Overseas Department of France               |
|76.9          |North America            |Dependent Territory of the UK               |
|76.8          |British Islands          |Republic                                    |
|76.8          |Western Africa           |Dependent Territory of the UK               |
|76.7          |Middle East              |Republic                                    |
|76.5          |Nordic Countries         |Constitutional Monarchy                     |
|76.4          |Eastern Asia             |Republic                                    |
|76.2          |Caribbean                |Socialistic Republic                        |
|76.1          |Caribbean                |Dependent Territory of the UK               |
|76.1          |South America            |Overseas Department of France               |
|76.1          |Middle East              |Constitutional Monarchy (Emirate)           |
|75.8          |Central America          |Republic                                    |
+--------------+-------------------------+--------------------------------------------+
only showing top 50 rows

In [32]:
city_lang = df_city.join(df_country, df_country.Code == df_city.CountryCode, "left_outer")

In [33]:
city_lang.select(df_city.Name,df_city.Population,df_country.Name).orderBy(df_city.Population.desc()).show(10,False)

+----------------+----------+------------------+
|Name            |Population|Name              |
+----------------+----------+------------------+
|Mumbai (Bombay) |10500000  |India             |
|Seoul           |9981619   |South Korea       |
|São Paulo       |9968485   |Brazil            |
|Shanghai        |9696300   |China             |
|Jakarta         |9604900   |Indonesia         |
|Karachi         |9269265   |Pakistan          |
|Istanbul        |8787958   |Turkey            |
|Ciudad de México|8591309   |Mexico            |
|Moscow          |8389200   |Russian Federation|
|New York        |8008278   |United States     |
+----------------+----------+------------------+
only showing top 10 rows

In [34]:
country_lang = df_country.join(df_countrylang, df_countrylang.CountryCode == df_country.Code, "left_outer")

In [35]:
country_lang.select(df_countrylang.Percentage,df_country.Name,df_countrylang.Language).\
    filter(df_countrylang.Percentage > 50).show(20,False)

+----------+----------------------+--------------+
|Percentage|Name                  |Language      |
+----------+----------------------+--------------+
|76.7      |Aruba                 |Papiamento    |
|52.4      |Afghanistan           |Pashto        |
|97.9      |Albania               |Albaniana     |
|86.2      |Netherlands Antilles  |Papiamento    |
|96.8      |Argentina             |Spanish       |
|93.4      |Armenia               |Armenian      |
|90.6      |American Samoa        |Samoan        |
|95.7      |Antigua and Barbuda   |Creole English|
|81.2      |Australia             |English       |
|92.0      |Austria               |German        |
|89.0      |Azerbaijan            |Azerbaijani   |
|98.1      |Burundi               |Kirundi       |
|59.2      |Belgium               |Dutch         |
|50.2      |Burkina Faso          |Mossi         |
|97.7      |Bangladesh            |Bengali       |
|83.2      |Bulgaria              |Bulgariana    |
|67.7      |Bahrain               |Arabic        |
|89.7      |Bahamas               |Creole English|
|99.2      |Bosnia and Herzegovina|Serbo-Croatian|
|65.6      |Belarus               |Belorussian   |
+----------+----------------------+--------------+
only showing top 20 rows

In [36]:
country_lang.select(df_country.Name,df_countrylang.IsOfficial,df_countrylang.Language).\
where(df_countrylang.IsOfficial == 'T').where(df_countrylang.Language == 'English').show(50,False)

+------------------------------------+----------+--------+
|Name                                |IsOfficial|Language|
+------------------------------------+----------+--------+
|Anguilla                            |T         |English |
|American Samoa                      |T         |English |
|Antigua and Barbuda                 |T         |English |
|Australia                           |T         |English |
|Belize                              |T         |English |
|Bermuda                             |T         |English |
|Barbados                            |T         |English |
|Canada                              |T         |English |
|Cocos (Keeling) Islands             |T         |English |
|Christmas Island                    |T         |English |
|Cayman Islands                      |T         |English |
|Falkland Islands                    |T         |English |
|United Kingdom                      |T         |English |
|Gibraltar                           |T         |English |
|Guam                                |T         |English |
|Hong Kong                           |T         |English |
|Ireland                             |T         |English |
|Saint Kitts and Nevis               |T         |English |
|Saint Lucia                         |T         |English |
|Lesotho                             |T         |English |
|Marshall Islands                    |T         |English |
|Malta                               |T         |English |
|Northern Mariana Islands            |T         |English |
|Montserrat                          |T         |English |
|Norfolk Island                      |T         |English |
|Niue                                |T         |English |
|Nauru                               |T         |English |
|New Zealand                         |T         |English |
|Palau                               |T         |English |
|Saint Helena                        |T         |English |
|Seychelles                          |T         |English |
|Turks and Caicos Islands            |T         |English |
|Tokelau                             |T         |English |
|Tonga                               |T         |English |
|Tuvalu                              |T         |English |
|United States Minor Outlying Islands|T         |English |
|United States                       |T         |English |
|Saint Vincent and the Grenadines    |T         |English |
|Virgin Islands, British             |T         |English |
|Virgin Islands, U.S.                |T         |English |
|Vanuatu                             |T         |English |
|Samoa                               |T         |English |
|South Africa                        |T         |English |
|Zimbabwe                            |T         |English |
+------------------------------------+----------+--------+