In [4]:
import pyspark
from pyspark.sql import SQLContext

sc = pyspark.SparkContext('local[*]')
sqlContext = SQLContext(sc)

In [5]:
# you can upload csv file from main page of Jupyter Notebook.
# files must be inside of 'work' folder

df = sqlContext.read.csv("BlackFriday.csv")

+-------+----------+------+-----+----------+-------------+--------------------+--------------+------------------+------------------+------------------+--------+
|    _c0|       _c1|   _c2|  _c3|       _c4|          _c5|                 _c6|           _c7|               _c8|               _c9|              _c10|    _c11|
+-------+----------+------+-----+----------+-------------+--------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_C...|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
|1000001| P00069042|     F| 0-17|        10|            A|                   2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                   2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                   2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                   2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M|  55+|        16|            C|                  4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|     M|26-35|        15|            A|                   3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                   2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                   2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                   2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|     M|26-35|        20|            A|                   1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|     M|26-35|        20|            A|                   1|             1|                 5|                11|              null|    5254|
|1000005| P00014542|     M|26-35|        20|            A|                   1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|     M|26-35|        20|            A|                   1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|     M|26-35|        20|            A|                   1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                   1|             0|                 5|                 8|                14|    5378|
|1000006| P00190242|     F|51-55|         9|            A|                   1|             0|                 4|                 5|              null|    2079|
|1000006|  P0096642|     F|51-55|         9|            A|                   1|             0|                 2|                 3|                 4|   13055|
|1000006| P00058442|     F|51-55|         9|            A|                   1|             0|                 5|                14|              null|    8851|
|1000007| P00036842|     M|36-45|         1|            B|                   1|             1|                 1|                14|                16|   11788|
+-------+----------+------+-----+----------+-------------+--------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [6]:
df.show()

+-------+----------+------+-----+----------+-------------+--------------------+--------------+------------------+------------------+------------------+--------+
|    _c0|       _c1|   _c2|  _c3|       _c4|          _c5|                 _c6|           _c7|               _c8|               _c9|              _c10|    _c11|
+-------+----------+------+-----+----------+-------------+--------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_C...|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
|1000001| P00069042|     F| 0-17|        10|            A|                   2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                   2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                   2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                   2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M|  55+|        16|            C|                  4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|     M|26-35|        15|            A|                   3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                   2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                   2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                   2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|     M|26-35|        20|            A|                   1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|     M|26-35|        20|            A|                   1|             1|                 5|                11|              null|    5254|
|1000005| P00014542|     M|26-35|        20|            A|                   1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|     M|26-35|        20|            A|                   1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|     M|26-35|        20|            A|                   1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                   1|             0|                 5|                 8|                14|    5378|
|1000006| P00190242|     F|51-55|         9|            A|                   1|             0|                 4|                 5|              null|    2079|
|1000006|  P0096642|     F|51-55|         9|            A|                   1|             0|                 2|                 3|                 4|   13055|
|1000006| P00058442|     F|51-55|         9|            A|                   1|             0|                 5|                14|              null|    8851|
|1000007| P00036842|     M|36-45|         1|            B|                   1|             1|                 1|                14|                16|   11788|
+-------+----------+------+-----+----------+-------------+--------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows